
@{
    ViewBag.Title = "Trova libro: categorie";
    ViewBag.Description = "Naviga gli annunci tra le categorie di Trova-libro. Cerca i libri usati tra le categorie di Trova-libro";
    ViewBag.Keywords = "libri usati università, cerco libri usati, comprare libri usati, vendo compro libri, compro libri usati, vendere libri, vendo libri usati, testi usati, cerco libri, libri usati universitari, comprovendo libri";

    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}
<nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Libri")">Ricerca</a></li>
        <li class="breadcrumb-item active" aria-current="page">Categorie</li>
    </ol>
</nav>
<h1>Categorie</h1>
<p>In questa sezione pui navigare tra libri in base alla categoria di appartenenza.</p>
<p>Per una ricerca avanzata puoi accedere alla pagina di <a class="btn btn-secondary" href="@Url.Action("Index")"><i class="fa fa-search fa-fw"></i>ricerca</a></p>

<p>I <strong>testi scolastici</strong> hanno una sottocategoria per facilitare la ricerca tra libri delle scuole elementari, medie e superiori.</p>
<p>Anche i <strong>testi universitari</strong> hanno una sottocategoria in base alla facoltà.</p>

<p>Clicca su una categoria per visualizzare gli annunci.</p>

@{

    string contesto;
    contesto = Request.ApplicationPath;
    if (contesto == "/")
    {
        contesto = "";
    }

    System.IO.MemoryStream risultatoMemoryStream;
    risultatoMemoryStream = new MemoryStream();

    System.Xml.Xsl.XslCompiledTransform xslt;
    xslt = new System.Xml.Xsl.XslCompiledTransform();
    xslt.Load(Server.MapPath("~/Content/xsl/categorie.xsl"));

    System.Xml.Xsl.XsltArgumentList args = new System.Xml.Xsl.XsltArgumentList();
    args.AddParam("contesto", "", contesto);



    Annunci.AnnunciManager manager = new Annunci.AnnunciManager("mercatino");

    System.Xml.XmlDocument document = new System.Xml.XmlDocument();

    document = manager.getCategorie_XML();

    xslt.Transform(document, args, risultatoMemoryStream);
    risultatoMemoryStream.Flush();


    string risultato;

    // System.Text.Encoding encoding = System.Text.Encoding.UTF8;
    //risultato = System.Text.Encoding.UTF8.GetString(risultatoMemoryStream.ToArray());
    risultato = System.Text.Encoding.Default.GetString(risultatoMemoryStream.ToArray());
    //risultato = System.Text.Encoding.ASCII.GetString(risultatoMemoryStream.ToArray());

    HtmlString risultatoHTML = new HtmlString(risultato);
}

@risultatoHTML
