
@{
    ViewBag.Title = "CreateCompleted";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Inserimento annuncio</h2>

<p>La creazione del nuovo annuncio è stata completata con successo.  <img src="@Url.Content("~/Content/Images/Shared/ok.png")" border="0" alt="Passed" style="margin-top:1em;margin-left:1em;" /></p>


<p>Clicca qui per tornare alla pagina dei <a class="btn btn-secondary" href="@Url.Action("MyAnnunci" )" role="button">I miei annunci</a> per poter modificare l'annucio e aggiungere le photo</p>