
@{
    ViewBag.Title = "MyAnnunci";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>MyAnnunci</h2>





<p>Clicca qui per inserire un <a class="btn btn-secondary" href="@Url.Action("Create", "Libri")" role="button">Nuovo annuncio<i class="fa fa-plus fa-fw"></i></a></p>


Accedi all pagina di inserimento annuncio per creare un nuovo annuncio da inserire nell'archivio di Trova-Libro.




Non hai inserito nessun annuncio.
