<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="forum" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|forum.mdb" providerName="System.Data.OleDb"/>
    <add name="mercatino" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|mercatino.mdb" providerName="System.Data.OleDb"/>
    <add name="rubrica" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|rubrica.mdb" providerName="System.Data.OleDb"/>
    <add name="utenti" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=C:\Develop.NET\www.trova-libro.it\trova-libro\sito4.0\App_Data\utenti.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>