<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="application.name" value="Unit Test [Trova-libro]"/>
    <add key="application.url" value="https://www.trova-libro.it/"/>
    <!-- per abilitare o meno l'invio delle email -->
    <add key="mail.isEnabled" value="true"/>
    <add key="mail.global.asa.exception.send.enabled" value="true"/>
    <!--Configurazione dell'applicazione mail "mail.keycab.com" "mail.smartcare.it" "mail.trova-libro.it" "smtp.aruba.it" -->
    <!--<add key="mail.server" value="smtp.aruba.it"/>-->
    
    <!--<add key="mail.server" value="smtp.trova-libro.it"/>-->
   
    
    <add key="mail.server" value="smtps.aruba.it"/>
    <add key="mail.server.port" value="465"/>
    <add key="mail.server.enableTls" value="true"/>
    <add key="mail.server.enableSsl" value="true"/>
    


    <!-- autenticazione per invio email-->
    <add key="mail.server.userName" value="webmaster@trova-libro.it"/>
    <add key="mail.server.password" value="webmaster_75"/>
    <add key="mail.To.Ccn" value="info@trova-libro.it"/>
    <add key="mail.From" value="info@trova-libro.it"/>
    <add key="mail.webmaster" value="webmaster@trova-libro.it"/>
    
  </appSettings>
  <connectionStrings>
    <add name="forum" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|forum.mdb" providerName="System.Data.OleDb"/>
    <add name="mercatino" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=C:\Develop.NET\www.trova-libro.it\trova-libro\sito4.0\App_Data\mercatino.mdb" providerName="System.Data.OleDb"/>
    <add name="rubrica" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|rubrica.mdb" providerName="System.Data.OleDb"/>
    <add name="utenti" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=C:\Develop.NET\www.trova-libro.it\trova-libro\sito4.0\App_Data\utenti.mdb" providerName="System.Data.OleDb"/>
    <add name="RegioniProvinceComuni" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=C:\Develop.NET\www.trova-libro.it\trova-libro\sito4.0\App_Data\RegioniProvinceComuni.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>