
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}



<nav class="mt-3" aria-label="breadcrumb" itemprop="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Cookies","Home")">Cookies policy</a></li>
        <li class="breadcrumb-item active" aria-current="page">Privacy policy</li>
    </ol>
</nav>

<h1>Privacy policy</h1>


@Html.Partial("~/Views/Account/_TestoPrivacy.cshtml")