

@{

    string id = "confirmPopup";
    if (ViewData["ID"] != null)
    {
        id = ViewData["ID"].ToString();
    }


    string title = "Confermare l'operazione";
    if (ViewData["title"] != null)
    {
        title = ViewData["title"].ToString();
    }


    string body = "Confermare l'operazione?";
    if (ViewData["body"] != null)
    {
        body = ViewData["body"].ToString();
    }



}


<div class="modal" tabindex="-1" role="dialog" id="@id">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@body</p>
            </div>
            <div class="modal-footer">
                <!-- richiamo una funzione con il id -->
                <button type="button" class="btn btn-primary" onclick="@(id + "ConfirmOnClick()")" ><i class="fa fa-fw fa-exclamation "></i>Conferma</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>