@model ModelStateDictionary
@{
    Layout = null;

}

@if (!Model.IsValid)
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Attenzione</h4>
      
            @foreach (var key in Model.Keys)
            {
                foreach (var err in Model[key].Errors)
                {
                    @:<p> @key  @err.ErrorMessage</p> 
                        }
            }
        </div>
        }
