@model ModelStateDictionary
@{
    Layout = null;

}

@if (!Model.IsValid)
{
    <div class="form-group has-error">
        @foreach (var key in Model.Keys)
        {
            foreach (var err in Model[key].Errors)
            {
                @:<label class="control-label"> @key  @err.ErrorMessage</label> <br />
                        }
        }
    </div>
}
