
<div class="row w-100 mt-3">
    <div class="col float-left">
        <div class="fb-like" data-send="false" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="col float-right">
        <div class="g-plusone float-right" data-size="standard"></div>
    </div>
</div>

<div class="row small float-none w-100 mt-3">
    <div class="col text-center">
        <b>Pubblicizza</b> il sito in modo da dare più <u>visibilità ai tuoi annunci</u>.
        <b>Condividilo</b> con i tuoi amici e parenti. Clicca sul tuo social network preferito.
    </div>
</div>