
@{
    ViewBag.Title = "Trova libro: annuncio non diponibile";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Spiacenti ma l'annucio richiesto non è più disponibile</h2>
<center>
    <img src="@Url.Content("~/Content/Images/Shared/error.png")" border="0" alt="Failed" style="margin-top:1em;margin-left:1em;" />
</center>