
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>Index</h2>

<a class="nav-link" href="@Url.Action("Collapse", "Test")">Collapse</a>

<br />

<a class="nav-link" href="@Url.Action("Modal", "Test")">Modal</a>

<br />

<a class="nav-link" href="@Url.Action("Summernote", "Test")">Summernote</a>