<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>


    <add key="application.name" value="Trova-libro"/>
    <add key="application.url" value="https://www.trova-libro.it/"/>
    <!-- per abilitare o meno l'invio delle email -->
    <add key="mail.isEnabled" value="true"/>
    <add key="mail.global.asa.exception.send.enabled" value="true"/>
    <!--Configurazione dell'applicazione mail -->
    <!--
    <add key="mail.server" value="smtp.trova-libro.it"/>
-->
    <add key="mail.server" value="smtps.aruba.it"/>
    <add key="mail.server.port" value="465"/>
    <add key="mail.server.enableTls" value="true"/>
    <add key="mail.server.enableSsl" value="true"/>

    <!-- autenticazione per invio email-->
    <add key="mail.server.userName" value="webmaster@trova-libro.it"/>
    <add key="mail.server.password" value="webmaster_75"/>
    <add key="mail.To.Ccn" value="info@trova-libro.it"/>
    <add key="mail.From" value="info@trova-libro.it"/>
    <add key="mail.webmaster" value="webmaster@trova-libro.it"/>
    <!-- nel momento del cambio password obbliga l'utente ad inserire una STRONG Password-->
    <add key="utenti.password.isStrong" value="false"/>
    <!-- l'utente può cambaire e impostare la password -->
    <add key="utenti.password.canSet" value="true"/>
    <!-- la rgistrazione dell'utente deve essere confermata dall'amministratore-->
    <add key="utenti.confirm.registration" value="false"/>
    <add key="forum.isEnabled" value="true"/>
    <add key="newsletter.isEnabled" value="false"/>
    <add key="rubrica.isEnabled" value="true"/>
    <add key="annunci.isEnabled" value="true"/>
    <add key="mercatino.images.folder" value="~/public/mercatino/"/>
    <add key="catalogo.isEnabled" value="false"/>
    <add key="catalogo.images.folder" value="~/public/catalogo/"/>

  </appSettings>
  <connectionStrings>
    <add name="forum" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|forum.mdb" providerName="System.Data.OleDb"/>
    <add name="mercatino" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|mercatino.mdb" providerName="System.Data.OleDb"/>
    <add name="rubrica" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|rubrica.mdb" providerName="System.Data.OleDb"/>
    <add name="utenti" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|utenti.mdb" providerName="System.Data.OleDb"/>
    <add name="log" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|log.mdb" providerName="System.Data.OleDb"/>
    <add name="RegioniProvinceComuni" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=|DataDirectory|RegioniProvinceComuni.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>

    <!-- http://www.devcurry.com/2012/06/aspnet-mvc-handling-exceptions-and-404.html -->
    <!--
    <customErrors mode="On"  defaultRedirect="~/Errors/Index"  redirectMode="ResponseRewrite" >
      <error statusCode="404" redirect="~/Errors/HttpError404" />
    </customErrors>
-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
