
<p style="text-align: center;"><strong><br>2 - Responsabile del trattamento dati</strong></p>
<p>1. Il responsabile del trattamento è la persona fisica o giuridica, l'autorità pubblica, il servizio o altro organismo che tratta dati personali per conto del titolare del trattamento.</p>
<p>2. Ai sensi dell'articolo 28 del regolamento UE n. 2016/679, su nomina del titolare del dati, il responsabile del trattamento dei dati del sito <span id="span_id_sito">Trova-libro</span> è: <span id="span_id_responsabile">Webmaster</span>.</p>
<p style="text-align: center;"><strong><br>3 - Luogo trattamento dati</strong></p>
<p style="text-align: left;">1. Il trattamento dei dati generato dall'utilizzo di <span id="span_id_sito">Trova-libro</span> avviene presso <span id="span_id_luogo_titolare">xxxx</span>.<strong><br></strong></p>
<p>2. In caso di necessità, i dati connessi al servizio newsletter possono essere trattati dal responsabile del trattamento o soggetti da esso incaricati a tal fine presso la relativa sede.</p>










<p style="text-align: center;"><strong><br>1 - Tipo di Cookies</strong></p>
<p>1. Il sito <span id="span_id_sito">Trova-libro</span> utilizza cookies per rendere l'esperienza di navigazione dell'utente più facile ed intuitiva: i cookies sono piccole stringhe di testo utilizzate per memorizzare alcune informazioni che possono riguardare l'utente, le sue preferenze o il dispositivo di accesso a Internet (computer, tablet o cellulare) e vengono utilizzate principalmente per adeguare il funzionamento del sito alle aspettative dell'utente, offrendo un'esperienza di navigazione più personalizzata e memorizzando le scelte effettuate in precedenza.</p>
<p>2. Un cookie consiste in un ridotto insieme di dati trasferiti al browser dell'utente da un server web e può essere letto unicamente dal server che ha effettuato il trasferimento. Non si tratta di codice eseguibile e non trasmette virus.</p>
<p>3. I cookies non registrano alcuna informazione personale e gli eventuali dati identificabili non verranno memorizzati. Se si desidera, è possibile impedire il salvataggio di alcuni o tutti i cookie. Tuttavia, in questo caso l'utilizzo del sito e dei servizi offerti potrebbe risultarne compromesso. Per procedere senza modificare le opzioni relative ai cookies è sufficiente continuare con la navigazione.</p>
<p>Di seguito le tipologie di cookies di cui il sito fa uso:</p>
<p style="text-align: center;"><strong><br>2 - Cookies tecnici</strong></p>
<p>1. Ci sono numerose tecnologie usate per conservare informazioni nel computer dell'utente, che poi vengono raccolte dai siti. Tra queste la più conosciuta e utilizzata è quella dei cookies HTML. Essi servono per la navigazione e per facilitare l'accesso e la fruizione del sito da parte dell'utente. Sono necessari alla trasmissione di comunicazioni su rete elettronica ovvero al fornitore per erogare il servizio richiesto dal cliente.</p>
<p>2. Le impostazioni per gestire o disattivare i cookies possono variare a seconda del browser internet utilizzato. Ad ogni modo, l'utente può gestire o richiedere la disattivazione generale o la cancellazione dei cookies, modificando le impostazioni del proprio browser internet. Tale disattivazione può rallentare o impedire l'accesso ad alcune parti del sito.</p>
<p>3. L'uso di cookies tecnici consente la fruizione sicura ed efficiente del sito.</p>
<p>4. I cookies che vengono inseriti nel browser e ritrasmessi mediante Google Analytics o tramite il servizio statistiche di blogger o similari sono tecnici solo se utilizzati a fini di ottimizzazione del sito direttamente dal titolare del sito stesso, che potrà raccogliere informazioni in forma aggregata sul numero degli utenti e su come questi visitano il sito. A queste condizioni, per i cookies analytics valgono le stesse regole, in tema di informativa e consenso, previste per i cookies tecnici.</p>
<p>5. Dal punto di vista della durata si possono distinguere cookies temporanei di sessione che si cancellano automaticamente al termine della sessione di navigazione e servono per identificare l'utente e quindi evitare il login ad ogni pagina visitata e quelli permanenti che restano attivi nel pc fino a scadenza o cancellazione da parte dell'utente.</p>
<p>6. Potranno essere installati cookies di sessione al fine di consentire l'accesso e la permanenza nell'area riservata del portale come utente autenticato.</p>
<p>7. Essi non vengono memorizzati in modo persistente ma esclusivamente per la durata della navigazione fino alla chiusura del browser e svaniscono con la chiusura dello stesso. Il loro uso è strettamente limitato alla trasmissione di identificativi di sessione costituiti da numeri casuali generati dal server necessari per consentire l'esplorazione sicura ed efficiente del sito.</p>
<p style="text-align: center;"><strong><br>3 - Cookies di terze parti</strong></p>
<p>1. In relazione alla provenienza si distinguono i cookies inviati al browser direttamente dal sito che si sta visitando e quelli di terze parti inviati al computer da altri siti e non da quello che si sta visitando.</p>
<p>2. I cookies permanenti sono spesso cookies di terze parti.</p>
<p>3. La maggior parte dei cookies di terze parti è costituita da cookies di tracciamento usati per individuare il comportamento online, capire gli interessi e quindi personalizzare le proposte pubblicitarie per gli utenti.</p>
<p>4. Potranno essere installati cookies di terze parti analitici. Essi sono inviati da domini di predette terze parti esterni al sito.</p>
<p>5. I cookies analitici di terze parti sono impiegati per rilevare informazioni sul comportamento degli utenti su <span id="span_id_sito">Trova-libro</span>. La rilevazione avviene in forma anonima, al fine di monitorare le prestazioni e migliorare l'usabilità del sito. I cookies di profilazione di terze parti sono utilizzati per creare profili relativi agli utenti, al fine di proporre messaggi pubblicitari in linea con le scelte manifestate dagli utenti medesimi.</p>
<p>6. L'utilizzo di questi cookies è disciplinato dalle regole predisposte dalle terze parti medesime, pertanto, si invitano gli utenti a prendere visione delle informative privacy e delle indicazioni per gestire o disabilitare i cookies pubblicate nelle relative pagine web.</p>

















