<p>
    Questo sito utilizza i cookies. Utilizzando il nostro sito web l'utente dichiara di accettare e acconsentire all’utilizzo dei cookies in conformità con i termini di uso dei cookies espressi in questo documento.
</p>

<h2>CHE COSA SONO I COOKIE?</h2>

<p>
    cookie sono file di testo che contengono pacchetti di informazioni che vengono memorizzati sul tuo computer o sul tuo dispositivo mobile tutte le volte che visiti un sito online attraverso un browser. Ad ogni successiva visita il browser invia questi cookies al sito web che li ha originati o ad un altro sito. I cookies permettono ai siti di ricordare alcune informazioni per permetterti di navigare online in modo semplice e veloce.
</p>
<p>
    Ci sono due principali tipi di cookie: i cookie di sessione e cookies permanenti. I cookie di sessione vengono eliminati dal computer automaticamente quando chiudi il browser, mentre i cookie permanenti restano memorizzati sul tuo computer a meno che non siano eliminati o raggiungano la loro data di scadenza.
</p>


<h2>I COOKIE SUL NOSTRO SITO</h2>
<p>
    Trova-libro utilizza i seguenti cookie tecnici, che vengono installati automaticamente a seguito dell’accesso al sito, per le finalità indicate in relazione a ciascuno di essi:
</p>

<h3>Session cookie</h3>
<p>
    Il cookie di sessione archivia e recupera valori per un determinato utente. Le informazioni sono archiviate  lato server e solo l’ID univoco contenuto nel cookie viene condiviso tra l’utente e il server. Le informazioni memorizzate sul server restano in memoria fino alla scadenza della sessione. Il cookie stesso non contiene dati personali.
</p>

<h3>I COOKIE DI TERZE PARTI</h3>
<p>Trova-libro utilizza i seguenti cookies di terze parti:</p>
<ul>
    <li>
        <b>Google Analytics</b>
        <p>
            Questo Sito Web utilizza Google Analytics, un servizio di analisi web fornito da Google, Inc. ("Google"). Google Analytics utilizza dei "cookies", che sono file di testo che vengono depositati sul Vostro computer per consentire al Sito Web di analizzare come gli utenti utilizzano il sito. Le informazioni generate dal cookie sull'utilizzo del Sito Web da parte Vostra (compreso il Vostro indirizzo IP) verranno trasmesse a, e depositate presso i server di Google. Google utilizzerà queste informazioni allo scopo di monitorare l'utilizzo del Sito Web, compilare report sulle attività del Sito Web per gli operatori del Sito Web e fornire altri servizi relativi alle attività del Sito Web e all'utilizzo di Internet. Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi trattino le suddette informazioni per conto di Google. Google non assocerà il vostro indirizzo IP a nessun altro dato posseduto da Google. Potete rifiutarvi di usare i cookies selezionando l'impostazione appropriata sul vostro browser, ma ciò potrebbe impedirvi di utilizzare tutte le funzionalità di questo Sito Web. Utilizzando il presente Sito Web, voi acconsentite al trattamento dei Vostri dati da parte di Google per le modalità e i fini sopraindicati.
            Google Analytics si riserva il diritto di modificare i termini di questa politica in qualsiasi momento, con o senza preavviso.

            Per maggiori informazioni: <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank">Privacy Policy</a>.
        </p>

        <p>
            Per disabilitare i cookie analitici e per impedire a Google Analytics di raccogliere dati sulla tua navigazione, puoi scaricare il Componente aggiuntivo del browser per la disattivazione di Google Analytics: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>.
        </p>

    <li>
        <b>Facebook (Social Plugin)</b>
        <p>
            Pulsante “Mi Piace” di Facebook (del social network facebook.com gestito da Facebook, Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA). Quando dai Siti si accede a un altro sito web che contiene questo tipo di plug-in, il browser stabilisce una connessione diretta con i server di Facebook e invia questi dati a Facebook. Ciò accade indipendentemente dal fatto che Voi siate un membro di Facebook, abbiate effettuato l'accesso ai Siti come membro di Facebook ovvero abbiate cliccato il plug-in. Se siete membri di Facebook e siete connessi a Facebook mentre siete sui Siti, Facebook inserirà la Vostra visita ai Siti sul Vostro account Facebook, anche se non cliccate il plug-in sociale. Se, invece, cliccate il plug-in, queste informazioni saranno trasmesse al Vostro account Facebook, dove verranno memorizzate. Non sappiamo nel dettaglio quali dei Vostri dati saranno trasmessi a Facebook o per quale scopo Facebook utilizzerà tali dati. Questi dati includono il Vostro indirizzo IP, le informazioni di Facebook sul sito che avete visitato, la data e l'ora della Vostra visita e altre informazioni relative al browser. Se entrate nei Siti mentre siete ancora connessi a Facebook, sarà raccolto ed elaborato anche il Vostro codice identificativo di accesso e Facebook assegnerà questa visita al Vostro account Facebook. Se non desiderate che Facebook raccolga i Vostri dati personali attraverso i Siti, dovete disconnettervi da Facebook prima di visitare i Siti. Per conoscere le finalità del trattamento ed il conseguente utilizzo di tali da parte di Facebook, così come i Vostri diritti e le possibili impostazioni sulla protezione della Vostra privacy, siete pregati di leggere attentamente le indicazioni in materia di protezione dei dati di Facebook.
            Facebook si riserva il diritto di modificare i termini di questa politica in qualsiasi momento, con o senza preavviso.
            Per maggiori informazioni: <a href="https://www.facebook.com/help/cookies/" target="_blank">Normativa Sui Cookie</a> - <a href="http://www.facebook.com/about/privacy" target="_blank">Privacy Policy</a>
        </p>
    </li>
</ul>





<h3>DISABILITARE I COOKIE</h3>
<p>
    Nel caso volessi bloccare cookie ti ricordiamo che questo potrebbe avere un impatto negativo sull’usabilità di alcuni siti web.
</p>

