
@{
    ViewBag.Title = "RegisterCompleted";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h2>RegisterCompleted</h2>

<p>Registrazione conclusa con successo</p>

<p>A breve reciverai due email</p>

<li>una prima email di conferma dei dati registrati</li>
<li>e una seconda email con una password generata dal sistema</li>