@model MyWebApplication.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}


<h1>Generazione di una nuova password</h1>
<p>Se ti dimenticato la password non c'è problema, inserisci la tua login ed email e clicca su invia.</p>
<p>Il sistema provvede ad inviarti un messaggio, alla casella email inserita al momento della registrazione, con una nuova password.</p>

@Html.ValidationSummary(true, "Attenzione")

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="max-width: 500px;">

        <div class="form-group">
            <label for="Login">Login:</label>
            <input type="text" name="Login" id="Login" required value="@Model.Login">
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="text" name="Email" id="Email" required value="@Model.Email">
        </div>


        <input class="btn btn-primary" type="submit" data-inline="true" value="Reset password" />

    </div>
}