@model string
@{
    ViewBag.Title = "ResetPasswordCompleted";
    Layout = "~/Views/Shared/_MasterPageMobile.cshtml";
}

<h1>Generazione di una nuova password</h1>


<p>La procedura di generazione di una nuova password si è conclusa con successo.  <img src="@Url.Content("~/Content/Images/Shared/ok.png")" border="0" alt="Passed" style="margin-top:1em;margin-left:1em;" /></p>


<p>Ti è stata inviata una mail al seguente indirizzo: <strong>@Model</strong></p>

<p>Clicca qui per accedere alla pagina di <a href="@Url.Action("Login", "Account")">login</a></p>
